.exercise { 
  background-color:orange ;
  opacity:50%;
  counter-increment:;
  border-radius: 4pt; padding: 1em; margin-top: 4pt; margin-bottom: 4pt;
}

div.exercise:before
{
  content:"EXERCISE " counter(exercise) ". ";
  counter-increment:exercise;
  display: inline;
  font-weight: bold; 
}

div.exercise>div.exercise:before
{
  /*content:"EXERCISE " counter(exercise) counter(subexercise,lower-alpha) ". ";*/
  content:"";
  display: inline;
  counter-increment: subexercise;
  font-weight: bold; 
}  
