body {
  counter-reset: exercise;
}
div.exercise > div{
  counter-reset: subexercise;
}

.exercise { 
  background-color: blue;
  counter-increment: exercise;
  border-radius: 4pt; padding: 1em; margin-top: 4pt; margin-bottom: 4pt;
}

.exercise::before
{
  content:"EXERCISE " counter(exercise) ". ";
  display: inline;
  text-transform: capitalize;
  font-weight: bold; 
} 
