.exercise { 
  background-color:orange ;
  opacity:50%;
  border-radius: 4pt; padding: 1em; margin-top: 4pt; margin-bottom: 4pt;
}

div.exercise{
/*  counter-reset: subexercise;*/
}

div.exercise::before
{
  content:"EXERCISE " counter(exercise) ". ";
  display: inline;
  font-weight: bold; 
}

div.exercise>div.exercise:before
{
  content:"EXERCISE " counter(exercise) counter(subexercise,lower-alpha) ". ";
  display: inline;
  counter-increment: subexercise;
  text-transform: capitalize;
  font-weight: bold; 
}  
