.exercise { 
  background-color:orange ;
  opacity:50%;
  border-radius: 4pt; padding: 1em; margin-top: 4pt; margin-bottom: 4pt;
}

div.exercise:before
{
  content:"EXERCISE " counter(exercise) ". ";
  display: inline;
  font-weight: bold; 
}

div.exercise>div.exercise:before
{
  content:"";
  display: inline;
  font-weight: bold; 
}  
/*
div.exercise>div.exercise{
  counter-increment: subexercise;
}
*/
