body {
  counter-reset: exercise;
}
div.exercise{
  counter-reset: subexercise;
}

.exercise { 
  background-color: blue;
  counter-increment: exercise;
  border-radius: 4pt; padding: 1em; margin-top: 4pt; margin-bottom: 4pt;
}

.exercise::before
{
  content:"EXERCISE " counter(exercise) ". ";
  display: inline;
  text-transform: capitalize;
  font-weight: bold; 
}

div.exercise>div::before
{
  content:"EXERCISE " counter(exercise) counter(subexercise) ". ";
  display: inline;
  counter-increment: subexercise;
  text-transform: capitalize;
  font-weight: bold; 
}  
